@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>TapBox</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Github Projekt</h2>
        <p>
            Um mehr über das Projekt zu erfahren, besuche unser Github repo.
        </p>
        <p><a class="btn btn-default" href="https://github.com/rehrbar/ChallP2TapBox">Erfahre mehr &raquo;</a></p>
    </div>
</div>